<tbody>
  <tr>
    <td>
      <div class="d-flex align-items-center">
        <div>
          <%= bug.reporter.username %>
        </div>
      </div>
    </td>
    
    <td><p class="truncate"><%= bug.category.name.last(-2) %></p></td>
		<!-- <td><p class="truncate"><%= bug.summary %></p></td> -->

    <% fields = bug.custom_fields.without_card_note_contact %>
		<% fields.each do |field| %>
			<td>
				<% if field.value.length > 0 %>
					<p class="truncate"><%= field.value %></p>
				<% else %>
					<%= "null" %>
				<% end %>
			</td>
		<% end %>

		<td>
      <div class="d-flex align-items-center">
        <div>
          <%= bug.handler.username %>
        </div>
      </div>
    </td>
    <td>
      <label class="label label-danger"><%= bug.status %></label>
    </td>

</tbody>

<style type="text/css">
	.truncate {
	  width: 150px;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
</style>